* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

}

header {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav .logo {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 110px;
    margin-left: 145%;
    font-size: 50px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}


.hero {
    background-image: url('main5.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: left;
    padding-left: 50px;
    align-items: center;
    color: white;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    margin-left: -50%;
}

.hero h1 {
    font-style: italic;
    font-size: 4rem;
    margin-bottom: 20px;
    margin-left: 0%;
    text-align: left;
}

.hero p {
    font-style: italic;
    font-size: 4rem;
    margin-bottom: 30px;
    margin-right: -70%;
    text-align: left;
}

.btn {
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
    font-size: 2.5rem;
    border-radius: 20px;
    display: inline-block;
    margin-top: 100px;
}

/* About */
.about {
    padding: 100px;
    background-color: #ffffff;
    text-align: center;
}

.about h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 2.7rem;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    text-indent: 1.27rem;
}


/* Skills */
.skills {
    padding: 80px;
    background-color: #ffffff;
    text-align: center;
}

.skills h2 {
    font-size: 3rem;
    margin-bottom: 40px;
}

.skills-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12%;
    margin-left: 0;
}

.skills-content .profile-img {
    width: 700px;
    height: 700px;
    border-radius: 1%;
    object-fit: cover;

}

.skills-details {
    text-align: left;
    height: 60px;
    /**/
}




.skills-details ul {
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 2.5;
}

.progress-container {
    margin: 20px auto;
    max-width: 800px;
}

.skill-bar {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skill-bar span {
    font-size: 2rem;
    margin-right: 20px;
    flex: 0 0 auto;
}

.progress {
    background-color: #83b3c3;
    border-radius: 5px;
    height: 50px;
    width: 60px;
    flex: 1;
}

.progress-fill {
    height: 100%;
    background-color: #498a99;
    border-radius: 5px;
    width: 0;
    transition: width 1s ease-in-out;
}

/* Portfolio */
.portfolio {
    padding: 100px;
    background-color: #ffffff;
}

.portfolio h2 {
    font-size: 3rem;
    margin-bottom: 40px;
}

.portfolio-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.portfolio-description {
    max-width: 50%;
}

.portfolio-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.portfolio-description p {
    font-size: 1rem;
    line-height: 1.6;
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 40%;
}

.portfolio-gallery img {
    width: 100%;
    border-radius: 8px;
}

/* Get in Touch */
.contact {
    padding: 100px;
    background-color: #fdf7e9;
}

.contact-content {
    text-align: left;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.social-links .left,
.social-links .right {
    text-align: left;
}

.social-links p {
    font-size: 1.75rem;
    margin: 5px 0;
    padding-right: 900px;
}

.contact-info {
    font-size: 1.5rem;
    margin-top: 20px;
}